<section class="closing-section bg-(--surface)">
  <div
    class="mx-auto flex w-full max-w-352 flex-col items-center px-6 pb-2 pt-0 sm:px-10 sm:pb-3 lg:px-20"
  >
    <figure class="closing-frame" aria-labelledby="closing-caption">
      <svg
        class="closing-handwriting-top"
        viewBox="0 0 1200 150"
        role="img"
        aria-labelledby="closing-caption"
      >
        <title id="closing-caption">
          And remember kids... Don't Be Like Anthropic.
        </title>
        <path
          id="closing-line-one"
          d="M318 128 Q600 38 882 128"
          fill="none"
        ></path>
        <text class="closing-handwriting-small">
          <textPath
            href="#closing-line-one"
            startOffset="50%"
            text-anchor="middle"
          >
            And remember kids...
          </textPath>
        </text>
      </svg>
      <img
        src="/anthropicdead-light.png"
        alt=""
        class="closing-image"
        width="1200"
        height="629"
        loading="lazy"
        aria-hidden="true"
      />
      <svg
        class="closing-handwriting-bottom"
        viewBox="0 0 1200 190"
        aria-hidden="true"
      >
        <path
          id="closing-line-two"
          d="M210 48 Q600 158 990 48"
          fill="none"
        ></path>
        <text class="closing-handwriting-large">
          <textPath
            href="#closing-line-two"
            startOffset="50%"
            text-anchor="middle"
          >
            Don't Be Like Anthropic.
          </textPath>
        </text>
      </svg>
    </figure>
  </div>
</section>
